$b_g: rgb(138, 136, 136);
body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  background-color: $b_g;
  .title{
    background-color: #000000;
    font-size: 58px;
    color: #ffff00;
    border: 3px solid #2e145e;
  }
}
