$b_g: rgb(138, 136, 136);
body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  background-color: $b_g;
  .title{
    background-color: black;
    font-size: 58px;
    color: yellow;
    border: 1px solid yellow;

  }
}
